<!DOCTYPE html>
<html lang="en">

<head>
     <%- include('../layouts/head') %>
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
     <div class="sidebar">
          <div class="logo">
               <i class="fa fab fa-accusoft"></i> <span>ClonTeams</span>
          </div>
          <ul class="menu">
               <li>
                    <a href="/panel">
                         <i class="fas fa-home"></i>
                         <span>Inicio</span>
                    </a>
               </li>
               <li>
                    <a href="/categorias">
                         <i class="fas fab fa-buffer"></i>
                         <span>Categorias</span>
                    </a>
               </li>
               <li>
                    <a href="/usuarios">
                         <i class="fas fas fa-user-alt"></i>
                         <span>Usuarios</span>
                    </a>
               </li>
               <li class="active">
                    <a href="/estadisticas">
                         <i class="fas fas fa-chart-bar"></i>
                         <span>Estadísticas</span>
                    </a>
               </li>
               <li>
                    <a href="/registros_bot">
                         <i class="fas fa-robot"></i>
                         <span>Registro Bot</span>
                    </a>
               </li>
               <li class="logout">
                    <a href="/logout">
                         <i class="fas fas fa-sign-out-alt"></i>
                         <span>Cerrar Sesion</span>
                    </a>
               </li>
          </ul>
     </div>
     <main class="main--content">
          <div class="header--wrapper">
               <div class="header--title">
                    <span>Estadisticas</span>
                    <h2>Bienvenido</h2>
               </div>
               <div class="user--info">
                    <i class="fa far fa-user-circle"></i>
               </div>
          </div>
          <hr>
          <h2 class="titulo-seccion">Estadísticas</h2>
          <div class="graficos">
               <div class="grafico-container">
                    <h3 class="grafico-titulo">Cantidad de Usuarios Registrados</h3>
                    <p class="grafico-descripcion">Descripción del gráfico de usuarios.</p>
                    <canvas id="usuarios-chart"></canvas>
               </div>
               <div class="grafico-container">
                    <h3 class="grafico-titulo">Cantidad de Proyectos Subidos</h3>
                    <p class="grafico-descripcion">Descripción del gráfico de proyectos.</p>
                    <canvas id="proyectos-chart"></canvas>
               </div>
          </div>

     </main>

     <script>
          const cantidadUsuarios = <%= cantidadUsuarios %>;
          const cantidadProyectos = <%= cantidadProyectos %>;

          const usuariosChart = new Chart(document.getElementById('usuarios-chart'), {
               type: 'bar',
               data: {
                    labels: ['Usuarios'],
                    datasets: [{
                         label: 'Cantidad de Usuarios',
                         data: [cantidadUsuarios],
                    }]
               },
               options: {
                    scales: {
                         y: {
                              beginAtZero: true,
                              precision: 0
                         }
                    }
               }
          });

          const proyectosChart = new Chart(document.getElementById('proyectos-chart'), {
               type: 'bar',
               data: {
                    labels: ['Proyectos'],
                    datasets: [{
                         label: 'Cantidad de Proyectos',
                         data: [cantidadProyectos],
                    }]
               },
               options: {
                    scales: {
                         y: {
                              beginAtZero: true,
                              precision: 0
                         }
                    }
               }
          });
     </script>
</body>

</html>