<!DOCTYPE html>
<html lang="en">

<head>

     <%- include('../layouts/head') %>

</head>

<body>
     <div class="sidebar">
          <div class="logo">
               <i class="fa fab fa-accusoft"></i> <span>ClonTeams</span>
          </div>
          <ul class="menu">
               <li class="active">
                    <a href="/panel">
                         <i class="fas fa-home"></i>
                         <span>Inicio</span>
                    </a>
               </li>
               <li>
                    <a href="/categorias">
                         <i class="fas fab fa-buffer"></i>
                         <span>Categorias</span>
                    </a>
               </li>
               <li>
                    <a href="/usuarios">
                         <i class="fas fas fa-user-alt"></i>
                         <span>Usuarios</span>
                    </a>
               </li>
               <li>
                    <a href="/estadisticas">
                         <i class="fas fas fa-chart-bar"></i>
                         <span>Estadísticas</span>
                    </a>
               </li>
               <li>
                    <a href="/registros_bot">
                         <i class="fas fa-robot"></i>
                         <span>Registro Bot</span>
                    </a>
               </li>
               <li class="logout">
                    <a href="/logout">
                         <i class="fas fas fa-sign-out-alt"></i>
                         <span>Cerrar Sesion</span>
                    </a>
               </li>
          </ul>
     </div>
     <main class="main--content">
          <div class="header--wrapper">
               <div class="header--title">
                    <span>Inicio</span>
                    <h2>Bienvenido</h2>
               </div>
               <div class="user--info">
                    <i class="fa far fa-user-circle"></i>
               </div>
          </div>
          <hr>
          <div class="card--container">
               <div class="card--wrapper">
                    <div class="payment--card">
                         <div class="card-header">
                              <h1 class="main--title">ClonTeams</h1>
                         </div>
                         <div class="card--body">
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem nemo facilis
                                   nihil quibusdam iure atque laboriosam! Ut ipsa facilis possimus beatae distinctio
                                   voluptatum, dolor architecto minima reiciendis, excepturi quas temporibus?</p>
                         </div>
                    </div>
               </div>
          </div>
          <hr>
          <div class="navigation">
               <div class="button blue">
                    <a href="/categorias">
                         <i class="fas fa-tags"></i>
                         <span>Categorías</span>
                    </a>
               </div>
               <div class="button green">
                    <a href="/usuarios">
                         <i class="fas fa-users"></i>
                         <span>Usuarios registrados</span>
                    </a>
               </div>
               <div class="button orange">
                    <a href="/estadisticas">
                         <i class="fas fa-chart-bar"></i>
                         <span>Estadísticas</span>
                    </a>
               </div>
               <div class="button purple">
                    <a href="/registros_bot">
                         <i class="fas fa-robot"></i>
                         <span>Registros del Bot</span>
                    </a>
               </div>
          </div>
          <hr>
          <div class="imagen"><img src="img/logoVG.png" alt=""></div>

     </main>

</body>

</html>