<!DOCTYPE html>
<html lang="en">

<head>

     <%- include('../layouts/head') %>

</head>

<body>
     <div class="sidebar">
          <div class="logo">
               <i class="fa fab fa-accusoft"></i> <span>ClonTeams</span>
          </div>
          <ul class="menu">
               <li>
                    <a href="/panel">
                         <i class="fas fa-home"></i>
                         <span>Inicio</span>
                    </a>
               </li>
               <li>
                    <a href="/categorias">
                         <i class="fas fab fa-buffer"></i>
                         <span>Categorias</span>
                    </a>
               </li>
               <li>
                    <a href="/usuarios">
                         <i class="fas fas fa-user-alt"></i>
                         <span>Usuarios</span>
                    </a>
               </li>
               <li>
                    <a href="/estadisticas">
                         <i class="fas fas fa-chart-bar"></i>
                         <span>Estadísticas</span>
                    </a>
               </li>
               <li class="active">
                    <a href="/registros_bot">
                         <i class="fas fa-robot"></i>
                         <span>Registro Bot</span>
                    </a>
               </li>
               <li class="logout">
                    <a href="/logout">
                         <i class="fas fas fa-sign-out-alt"></i>
                         <span>Cerrar Sesion</span>
                    </a>
               </li>
          </ul>
     </div>
     <main class="main--content">
          <div class="header--wrapper">
               <div class="header--title">
                    <span>Registros Bot</span>
                    <h2>Bienvenido</h2>
               </div>
               <div class="user--info">
                    <i class="fa far fa-user-circle"></i>
               </div>
          </div>
          <hr>
          <div class="container">
               <div class="titulos">
                    <h3 class="titulo-categorias">Consultas Bot</h3>
                    <p class="descripcion-categorias">El registro está conectado a Google Sheets y registra la
                         información
                         proporcionada por el bot.</p>
               </div>

               <table class="tabla-registros">
                    <thead>
                         <tr>
                              <th>Consulta N°</th>
                              <th>Fecha de Registro</th>
                              <th>Usuario</th>
                              <th>Categoría</th>
                              <th>Acciones</th>
                         </tr>
                    </thead>
                    <tbody id="newsContainer">
                         <!-- Aquí se agregarán dinámicamente las filas -->
                     </tbody>
               </table>
          </div>
     </main>

     <!-- Modal -->
     <section class="modal">
          <div class="modal__container">
               <div class="modal_contenerdor" id="modal_container">
                    <h4 class="modal__title">Consulta N°</h4>
                    <div class="modal__paragraph">
                         <p>Categoría:</p>
                         <div class="user--info">
                              <p class="">Usuario: </p>
                              <p>Fecha de Chat: </p>
                         </div>
                         <p>Consulta:</p>
                         <p>Respuesta AI: </p>
                    </div>
               </div>

               <a class="modal__close">Cerrar Ventana</a>
          </div>
     </section>

     <script>
          // JavaScript aquí
          document.addEventListener("DOMContentLoaded", function () {
               const editarBtns = document.querySelectorAll('.editar-btn');
               const modal = document.querySelector('.modal');
               const closeModal = document.querySelector('.modal__close');

               editarBtns.forEach(btn => {
                    btn.addEventListener('click', () => {
                         modal.classList.add('modal--show');
                    });
               });

               closeModal.addEventListener('click', () => {
                    modal.classList.remove('modal--show');
               });
          });
     </script>
</body>

</html>