<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Consulta de datos</title>
</head>

<body>
     <h1>Datos</h1>
     <ul>
          <% data.forEach(row=> { %>
               <li>
                    <%= row.id %> - <%= row.nombre %> - <%= row.edad %>
               </li>
               <% }); %>
     </ul>
</body>

</html>