@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     border: none;
     outline: none;
     font-family: 'Poppins', sans-serif;
}

:root {
     --main--color: #02809f;
}

body {
     display: flex;
}

.sidebar {
     position: sticky;
     top: 0;
     left: 0;
     bottom: 0;
     width: 110px;
     background-color: var(--main--color);
     height: 100vh;
     padding: 0 1.7rem;
     color: #fff;
     overflow: hidden;
     transition: all 0.5s linear;
     z-index: 1000;
}

.sidebar:hover {
     width: 240px;
     transition: 0.5s;
}

.logo {
     display: flex;
     margin-top: 20px;
     margin-bottom: 20px;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

.logo i {
     color: #fff;
     font-size: 2rem;
}

.menu {
     height: 88%;
     position: relative;
     list-style: none;
     padding: 0;
}

.menu li {
     padding: 1rem;
     margin: 8px 0;
     border-radius: 8px;
     transition: all 0.5s ease-in-out;
}

.menu li:hover,
.active {
     background: #e0e0e058;
}

.menu a {
     color: #fff;
     font-size: 14px;
     text-decoration: none;
     display: flex;
     align-items: center;
     gap: 1.5rem;
}

.menu a span {
     overflow: hidden;
}

.menu a i {
     font-size: 1.2rem;
}

.logout {
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
}

.main--content {
     position: relative;
     width: 100%;
     padding: 1rem;
}


.header--wrapper {
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
     background-color: #fff;
     padding: 10px 2rem;
     border-radius: 10px;
     margin-bottom: 1rem;

}

.header--title {
     color: var(--main--color);
}

.user--info {
     display: flex;
     align-items: center;
     gap: 2rem;
}

.user--info i {
     font-size: 2rem;
     color: var(--main--color);
}

.card--container {
     padding: 2rem;
     border-radius: 10px;
}

.card--wrapper {
     display: flex;
     flex-wrap: wrap;
     gap: 1rem;
     align-items: center;
     justify-content: center;
}

.main--title {
     color: var(--main--color);
     padding-bottom: 10px;
     text-align: center;
}

.card--body {
     padding: 20px;
}

.navigation {
     display: flex;
     justify-content: space-around;
     margin-top: 20px;
}

hr {
     border: none;
     height: 1px;
     background-color: rgba(0, 0, 0, 0.1);
     margin: 20px 0;
}

.button {
     width: 200px;
     height: 150px;
     border-radius: 10px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     color: white;
     font-size: 18px;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
     transition: transform 0.3s ease;
     padding: 20px;
}

.button:hover {
     transform: translateY(-5px);
}

.button a {
     text-decoration: none;
     color: white;
}

.button.blue {
     background-color: #a5d8ff;
}

.button.green {
     background-color: #B2F2BB;
}

.button.orange {
     background-color: #FFD8A8;
}

.button.purple {
     background-color: #D0BFFF;
}

.imagen {
     display: flex;
     align-items: center;
     justify-content: center;
     max-height: 30vh;

}

.imagen img {
     max-height: 100%;
     max-width: 100%;
     object-fit: contain;
}

.container--categorias {
     padding: 20px;
}

.titulos {
     display: flex;
     flex-direction: column;
}

.titulo-categorias {
     font-size: 24px;
     font-weight: bold;
     margin-bottom: 20px;
     color: var(--main--color);
     text-align: center;
}

.descripcion-categorias {
     font-size: 16px;
     color: #555;
     margin-bottom: 20px;
     text-align: center;
}

.total-categorias {
     font-size: 16px;
     color: #555;
     margin-bottom: 20px;
     text-align: center;
}

.card--categoria {
     background-color: #ffffff;
     border: 1px solid #ddd;
     border-radius: 8px;
     padding: 20px;
     margin: 20px;
     width: 200px;
     height: 200px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-decoration: none;
     color: #333;
     text-align: center;
     transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cards {
     display: flex;
     flex-wrap: wrap;
}

.card--categoria:hover {
     transform: translateY(-5px);
     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card--categoria a {
     text-decoration: none;
     color: #333;
}

.card--categoria a:hover {
     color: #007bff;
}

.card--categoria i {
     margin-bottom: 10px;
     font-size: 24px;
}

.container--categorias {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 40px;
     flex-direction: column;
}

@media (max-width: 992px) {
     .container--categorias {
          gap: 20px;
     }

     .card--categoria {
          width: calc(50% - 40px);
          max-width: calc(50% - 40px);
     }
}

@media (max-width: 576px) {
     .card--categoria {
          width: 100%;
          max-width: 100%;
     }
}

.container--proyectos {
     width: 100%;
     margin: 20px auto;
}

.tabla-proyectos {
     width: 100%;
     border-collapse: collapse;
}

.tabla-proyectos th,
.tabla-proyectos td {
     padding: 12px;
     text-align: left;
     border-bottom: 1px solid #ddd;
}

.tabla-proyectos th {
     background-color: #f2f2f2;
}

.tabla-proyectos tbody tr:hover {
     background-color: #f5f5f5;
}

.tabla-proyectos tbody tr:nth-child(even) {
     background-color: #f2f2f2;
}

.tabla-proyectos a {
     color: #007bff;
     text-decoration: none;
}

.tabla-proyectos a:hover {
     text-decoration: underline;
}

.datos {
     text-align: center;
     margin-top: 50px;
     font-size: 24px;
     color: #555;
}

.carita {
     font-size: 48px;
     color: #c4c4c4;
}

.volver-btn {
     display: block;
     width: 100px;
     padding: 10px;
     margin: 20px auto;
     background-color: var(--main--color);
     color: #fff;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     text-align: center;
     text-decoration: none;
}

.volver-btn:hover {
     background-color: #0056b3;
}

.titulo-seccion {
     font-size: 24px;
     color: var(--main--color);
     margin-bottom: 20px;
     text-align: center;
}

.volver-btn:active {
     background-color: #004080;
}

.tabla-usuarios {
     width: 100%;
     border-collapse: collapse;
}

.tabla-usuarios th, .tabla-usuarios td {
     border: 1px solid #ddd;
     padding: 8px;
     text-align: left;
}

.tabla-usuarios th {
     background-color: #f2f2f2;
}

.usuario {
     background-color: #f9f9f9;
}

.usuario:hover {
     background-color: #f1f1f1;
}

.graficos {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     margin-top: 50px;
}

.grafico-container {
     text-align: center;
     flex: 1 1 45%;

     margin-bottom: 20px;
}

.grafico-container:nth-child(3) {
     flex: 1 1 100%;

     max-height: 50vh;

     min-height: 30vh;

}

.grafico-titulo {
     font-size: 20px;
     color: var(--main--color);
     margin-bottom: 10px;
}

.grafico-descripcion {
     color: #666;
     margin-bottom: 20px;
}

canvas {
     margin-bottom: 30px;
     width: 100%;
     height: 80%;
}

.container {
     margin: 20px;
     padding: 20px;
     background-color: #fff;
     border-radius: 5px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tabla-registros {
     width: 100%;
     border-collapse: collapse;
}

.tabla-registros th:first-child,
.tabla-registros td:first-child {
     width: fit-content;
     min-width: 50px;
     max-width: 50px;
     text-align: center;
}

.tabla-registros th:nth-child(2),
.tabla-registros td:nth-child(2) {
     width: fit-content;
     min-width: 50px;
     max-width: 50px;
     text-align: center;
}

.tabla-registros th,
.tabla-registros td {
     border: 1px solid #ddd;
     padding: 8px;
     text-align: left;
}

.tabla-registros th {
     background-color: #f2f2f2;
     color: #333;
     text-align: center !important;
}

.tabla-registros tr:nth-child(even) {
     background-color: #f9f9f9;
}

.tabla-registros tr:hover {
     background-color: #f2f2f2;
}

.tabla-registros button {
     text-align: center;
     padding: 5px 10px;
     background-color: #4CAF50;
     border: none;
     color: #fff;
     cursor: pointer;
     border-radius: 3px;
     transition: background-color 0.3s;
     display: block;
     margin: 0 auto;
}

.tabla-registros button:hover {
     background-color: #45a049;
}

.modal {
     z-index: 100000;
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #111111bd;
     display: flex;
     opacity: 0;
     pointer-events: none;
     transition: opacity .6s .9s;
     --transform: translateY(-100vh);
     --transition: transform .8s;
}

.modal--show {
     z-index: 1000000;
     opacity: 1;
     pointer-events: unset;
     transition: opacity .6s;
     --transform: translateY(0);
     --transition: transform .8s .8s;
}

.modal__container {
     margin: auto;
     width: 90%;
     max-width: 600px;
     max-height: 90%;
     background-color: #fff;
     border-radius: 6px;
     padding: 3em 2.5em;
     display: grid;
     gap: 1em;
     place-items: center;
     grid-auto-columns: 100%;
     transform: var(--transform);
     transition: var(--transition);
}

.modal__title {
     font-size: 1.5rem;
     color: #1e3c72;
     text-align: center;
     margin-top: 0;
}

.modal__paragraph {
     text-align: justify;
     color: rgb(75, 75, 75);
     font-size: 15px;
     padding: 20px;
}

.modal__paragraph p {
     padding: 15px;
}

.modal__user-info {
     display: flex;
     justify-content: space-between;
}

.modal__user {
     font-weight: bold;
}

.modal__date {
     font-style: italic;
}

.modal__categoria {
     font-weight: bold;
}

.modal__respuesta {
     font-weight: bold;
}

.modal__close {
     text-decoration: none;
     color: #fff;
     background-color: #1e3c72;
     padding: 1em 3em;
     border: 1px solid;
     border-radius: 6px;
     display: inline-block;
     font-weight: 900;
     font-size: 13px;
     transition: background-color .3s;
     margin-top: 1em;
}

.modal__close:hover {
     color: #1b3358;
     background-color: #fff;
}