<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
</head>

<body>
     <main class="main--content">
          <div class="header--wrapper">
               <div class="header--title">
                    <span>Proyectos</span>
                    <h2>Bienvenido <%= usuario.nombre %>
                    </h2> <!-- Muestra el nombre del usuario -->
               </div>
               <div class="user--info">
                    <!-- Muestra la información del usuario si es necesario -->
               </div>
          </div>
          <hr>
          <h2 class="titulo-seccion">Tus Proyectos</h2>
          <div class="container-proyectos">
               <% proyectos.forEach(function(proyecto) { %>
                    <!-- Aquí muestra la información de cada proyecto -->
                    <div class="proyecto">
                         <h3>
                              <%= proyecto.nombre %>
                         </h3>
                         <!-- Mostrar más detalles del proyecto si es necesario -->
                    </div>
                    <% }); %>
          </div>
     </main>


</body>

</html>