<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Enviar Correo</title>
     <!-- Bootstrap CSS -->
     <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
     <style>
          /* Estilos personalizados */
          body {
               display: flex;
               justify-content: center;
               align-items: center;
               height: 100vh;
               margin: 0;
          }

          .container {
               width: 400px;
          }
     </style>
</head>

<body>
     <div class="container">
          <h1 class="text-center mb-4">Enviar Correo Electrónico</h1>
          <form id="emailForm" method="POST">
               <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" required>
               </div>
               <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" value="<%= emailUsuario %>"
                         readonly required>
               </div>
               <div class="form-group">
                    <label for="subject">Asunto:</label>
                    <input type="text" class="form-control" id="subject" name="subject" required>
               </div>
               <div class="form-group">
                    <label for="mensaje">Mensaje:</label>
                    <textarea class="form-control" id="mensaje" name="mensaje" rows="4" required></textarea>
               </div>
               <button id="enviarCorreo" type="submit" class="btn btn-primary btn-block">Enviar</button>
          </form>
          <a href="/proyectos" class="d-block mt-3 text-center">Volver</a>
     </div>

     <!-- Bootstrap JS y jQuery (opcional, si necesitas funcionalidades de Bootstrap que requieran JS) -->
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

     <script>
          // Tu script JavaScript aquí
          const emailForm = document.getElementById('emailForm');
          const currentUrl = window.location.href;

          emailForm.addEventListener('submit', function (e) {
               e.preventDefault();
               const email = document.getElementById('email').value;
               const nombre = document.getElementById('nombre').value;
               const subject = document.getElementById('subject').value;
               const mensaje = document.getElementById('mensaje').value;
               window.location.href = `mailto:${email}?subject=${subject}&body=${mensaje}`;
               setTimeout(() => {
                    window.location.href = currentUrl;
               }, 1000);
          });
     </script>
</body>

</html>