<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Enviar Correo</title>
     <style>
          body {
               font-family: Arial, sans-serif;
               margin: 0;
               padding: 0;
               background-color: #f4f4f4;
          }

          .container {
               max-width: 600px;
               margin: 0 auto;
               padding: 20px;
               background-color: #fff;
               border-radius: 5px;
               box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          }

          h1 {
               margin-top: 0;
               color: #333;
          }

          label {
               display: block;
               margin-bottom: 5px;
               color: #555;
          }

          input[type="text"],
          input[type="email"],
          input[type="text"],
          textarea {
               width: 100%;
               padding: 10px;
               margin-bottom: 15px;
               border: 1px solid #ccc;
               border-radius: 3px;
               box-sizing: border-box;
          }

          textarea {
               height: 150px;
          }

          input[type="submit"] {
               background-color: #4caf50;
               color: #fff;
               border: none;
               padding: 10px 20px;
               border-radius: 3px;
               cursor: pointer;
          }

          input[type="submit"]:hover {
               background-color: #45a049;
          }
     </style>
</head>

<body>
     <div class="container">
          <h1>Enviar Correo Electrónico</h1>
          <form id="emailForm" method="POST">
               <label for="nombre">Nombre:</label>
               <input type="text" id="nombre" name="nombre" required><br><br>
               <label for="email">Email:</label>
               <input type="email" id="email" name="email" value="<%= emailUsuario %>" readonly required><br><br>
               <label for="subject">Asunto:</label>
               <input type="text" id="subject" name="subject" required><br><br>
               <label for="mensaje">Mensaje:</label><br>
               <textarea id="mensaje" name="mensaje" rows="4" cols="50" required></textarea><br><br>
               <input id="enviarCorreo" type="submit" value="Enviar">
          </form>
          <a href="/proyectos">Volver</a>
     </div>
     <script>
          const emailForm = document.getElementById('emailForm');
          const currentUrl = window.location.href;

          emailForm.addEventListener('submit', function (e) {
               e.preventDefault();
               const email = document.getElementById('email').value;
               const nombre = document.getElementById('nombre').value;
               const subject = document.getElementById('subject').value;
               const mensaje = document.getElementById('mensaje').value;
               window.location.href = `mailto:${email}?subject=${subject}&body=${mensaje}`;
               setTimeout(() => {
                    window.location.href = currentUrl;
               }, 1000);
          });
     </script>
</body>

</html>